<div class="container">
  <div class="row">
    <div class="col-md-9">
      <section class="header" role="banner">
        <div class="bank-name">
          <span class="seech">Seech</span> <span class="bank">Bank</span>
        </div>
        <div class="spacer"></div>
        <div class="amount">${{ totalAmount }}</div>
        <div class="name">
          <img
            src="../assets/account_circle_black_24dp.svg"
            alt=""
            class="avatar"
          />
          <span class="jd">Jane Doe</span>
        </div>
      </section>
      <hr />
      <payments-list></payments-list>
    </div>
  </div>
</div>
